*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title{
    font-size: 300%;
    text-align: center
}
h2{
    color: cadetblue;
}
iframe{
    border-radius: 5px;
}
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
/* BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES BOXES */
.grid-cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.box{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.box.small{
    grid-column: span 1;
    grid-row: span 1;
}
.box.medium-small{
    grid-column: span 2;
    grid-row: span 1;
}
.box.small-medium{
    grid-column: span 1;
    grid-row: span 2;
}
.box.medium{
    grid-column: span 2;
    grid-row: span 2;
}
.box.large-small{
    grid-column: span 3;
    grid-row: span 1;
}
.box.small-large{
    grid-column: span 1;
    grid-row: span 3;
}
.box.slider{
    grid-column: span 6;
    grid-row: span 6;
    text-align: center;
}
.box:hover {
    transform: scale(1.05); 
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER 
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
